<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Servlet_consultaCatalogos</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_consultaCatalogos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_guardarArchivo</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_guardarArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_muestraArchivo</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_muestraArchivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_generaPDF</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_generaPDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_registroInfoAcademica</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_registroInfoAcademica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_generaSesion</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_generaSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_cbregistro</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_cbregistro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_registroInfoLaboral</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_registroInfoLaboral</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_registroInfoCompatibilidad</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_registroInfoCompatibilidad</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_consultaCatalogos</servlet-name>
        <url-pattern>/Servlet_consultaCatalogos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_guardarArchivo</servlet-name>
        <url-pattern>/Servlet_guardarArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_muestraArchivo</servlet-name>
        <url-pattern>/Servlet_muestraArchivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_generaPDF</servlet-name>
        <url-pattern>/Servlet_generaPDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_registroInfoAcademica</servlet-name>
        <url-pattern>/Servlet_registroInfoAcademica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_generaSesion</servlet-name>
        <url-pattern>/Servlet_generaSesion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_cbregistro</servlet-name>
        <url-pattern>/Servlet_cbregistro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_registroInfoLaboral</servlet-name>
        <url-pattern>/Servlet_registroInfoLaboral</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_registroInfoCompatibilidad</servlet-name>
        <url-pattern>/Servlet_registroInfoCompatibilidad</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
