<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!--<context-param>
        <param-name>rutaConfig</param-name>
        <param-value>C:/ArchivosPromocion/config.properties</param-value>
    </context-param>-->
    <context-param>
        <param-name>rutaConfig</param-name>
        <param-value>/home/pdadmin/configDocente/ArchivosPromocion/configLinux.properties</param-value>
    </context-param>
    <servlet>
        <servlet-name>Servlet_cancelarPin</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_cancelarPin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_cbRegistroCriterios</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_cbRegistroCriterios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_registrarCriterio</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_registrarCriterio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_registrarCurso</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_registrarCurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_registrarAportacion</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_registrarAportacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_registrarParticipacion</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_registrarParticipacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_registrarTutoria</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_registrarTutoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_registrarPublicacion</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_registrarPublicacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_registrarResultado</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_registrarResultado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_cbFichaRegistroPrevia</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_cbFichaRegistroPrevia</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_cbVistaDocente</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_cbVistaDocente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_registroIntegranteComite</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_registroIntegranteComite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_buscarComite</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_buscarComite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_registroComite</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_registroComite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_borrarComite</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_borrarComite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_borrarIntegrante</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_borrarIntegrante</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Servlet_finalizarConformacion</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_finalizarConformacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SesionAdministrador</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_cbSesionAdministrador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FinalizaProceso</servlet-name>
        <servlet-class>com.aplicacion.servlet.Servlet_finalizaProceso</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet_cancelarPin</servlet-name>
        <url-pattern>/Servlet_cancelarPin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_cbRegistroCriterios</servlet-name>
        <url-pattern>/Servlet_cbRegistroCriterios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_registrarCriterio</servlet-name>
        <url-pattern>/Servlet_registrarCriterio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_registrarCurso</servlet-name>
        <url-pattern>/Servlet_registrarCurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_registrarAportacion</servlet-name>
        <url-pattern>/Servlet_registrarAportacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_registrarParticipacion</servlet-name>
        <url-pattern>/Servlet_registrarParticipacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_registrarTutoria</servlet-name>
        <url-pattern>/Servlet_registrarTutoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_registrarPublicacion</servlet-name>
        <url-pattern>/Servlet_registrarPublicacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_registrarResultado</servlet-name>
        <url-pattern>/Servlet_registrarResultado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_cbFichaRegistroPrevia</servlet-name>
        <url-pattern>/Servlet_cbFichaRegistroPrevia</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_cbVistaDocente</servlet-name>
        <url-pattern>/Servlet_cbVistaDocente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_registroIntegranteComite</servlet-name>
        <url-pattern>/Servlet_registroIntegranteComite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_buscarComite</servlet-name>
        <url-pattern>/Servlet_buscarComite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_registroComite</servlet-name>
        <url-pattern>/Servlet_registroComite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_borrarComite</servlet-name>
        <url-pattern>/Servlet_borrarComite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_borrarIntegrante</servlet-name>
        <url-pattern>/Servlet_borrarIntegrante</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet_finalizarConformacion</servlet-name>
        <url-pattern>/Servlet_finalizarConformacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SesionAdministrador</servlet-name>
        <url-pattern>/SesionAdministrador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FinalizaProceso</servlet-name>
        <url-pattern>/FinalizaProceso</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
